.custom-content {
    
    padding: 10px;
    height: 100%; /* Asegura que ocupe toda la altura de la pantalla */
    display: flex;
    justify-content: center; /* Centra verticalmente si es necesario */
    align-items: center; /* Centra horizontalmente si es necesario */
  }