<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Invitado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- CARD PARA LA BIENVENIDA -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Hola Alumno</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Bienvenido al sistema, estamos felices de tenerte aquí.
    </ion-card-content>
  </ion-card>
  <!-- CARD PARA IR A LOS RAMOS -->
  <ion-card>
    <img alt="Silhouette of mountains" src="assets/seccion/seccion.jpeg" />
    <ion-card-header>
      <ion-card-title>Tus Ramos</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     <p>detalle de tus ramos</p>
      <ion-button routerLink="/ramosalumno" expand="full">
        <ion-icon slot="start" name="eye" ></ion-icon>
        Ver Ramos
        </ion-button>
    </ion-card-content>
  </ion-card>

  <!-- CARD PARA IR A LOS ALUMNOS -->
  <ion-card>
    <img alt="Silhouette of mountains" src="assets/seccion/alumnos.jpeg" />
    <ion-card-header>
      <ion-card-title>Alumno</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     <p>Asistencia</p>
      <ion-button routerLink="/escanearqr" expand="full">
        <ion-icon slot="start" name="eye" ></ion-icon>
        escanear asistencia
        </ion-button>
    </ion-card-content>
  </ion-card>

  
</ion-content>